<div class="outline">
  <div class="text-center mb-5">
    <h1 class="h1">ログイン</h1>
  </div>
  
  <div class="">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
  
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control mb-5' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control mb-5' %>
        </div>
  
        <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
      <% end %>
  
      <p>アカウントお持ちでない場合ー <%= link_to '新規会員登録', signup_path %></p>
    
  </div>
</div>