<ul class="list-unstyled">
  <% shares.each do |share| %>
  <div class="line"></div>
    <li class="media mb-3">
      <div class="share-left">
      <%= link_to user_path(share.user) do %>
        <% if share.user.profile_img? %>
          <%= image_tag share.user.profile_img.url, :size =>'320x480', class:'profile_img2' %>
        <% else %>
          <%= image_tag 'music.png', :size =>'320x480', class:'profile_img2' %>
        <% end %>
      <% end %>
        <p class="user-name"><%=  share.user.name %></p>
      </div>
      <div class="media-body">
        <div>
          <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <% if share.img? %>
                  <%= image_tag share.img.url, :size =>'320x480', class:'card-img' %>
                <% else %>
                  <%= image_tag 'music.png', :size =>'320x480', class:'card-img' %>
                <% end %>
              </div>
              <div class="col-lg-6">
                <div class="card-body">
                  <h4 class="card-title"><%= share.music_name %></h4>
                  <p class="card-text"><%= share.artist_name %></p>
                  <%= link_to '', share_path(share) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate shares %>
</ul>