<div class="show-all">
  <div class="show-top">
    <%= link_to user_path(@share.user) do %>
      <% if @share.user.profile_img? %>
        <%= image_tag @share.user.profile_img.url, class:'profile_img4' %>
      <% else %>
        <%= image_tag 'profile.png', :size =>'320x480', class:'profile_img4' %>
      <% end %>
    <% end %>
    <p class="show-name"><%= @share.user.name %></p>
  </div>  
  <div class="show-contents">
    <div class="">
      <% if @share.img? %>
        <%= image_tag @share.img.url, :size =>'200x200', class:'show-img' %>
      <% else %>
        <%= image_tag 'music.png', :size =>'200x200', class:'show-img' %>
      <% end %>
    </div>
    <div class="text-center">
      <p><%= @share.music_name %></p>
      <p><%= @share.artist_name %></p>
    </div>
  </div>
</div>

<div>
  <div class="line"></div>
  <div class="in-line">
    <div id="favorite">
      <%= render partial: 'layouts/favorite', locals: { share: @share } %>
    </div>
    <div>
       
      <% if current_user == @share.user %>
        <%= link_to @share, data: { confirm: "本当に削除しますか?" }, :method => :delete do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
      

      <a href="http://twitter.com/share?text=私が今聴いている音楽はこれです！" target="_blank" class="twitter-share-button">
       <i class="fab fa-twitter"></i>
      </a>
      <a href="http://www.facebook.com/share.php?u=" rel="nofollow" target="_blank" class="facebook"><i class="fab fa-facebook-square"></i></a>
    </div>
  </div>
  <div class="line"></div>
</div>
<%= render 'comments/comments'%>