<div class="row text-center">
  <% likes.each do |like| %>
  <div class="col-4">
    <% if like.img? %>
      <%= image_tag like.img.url, :size =>'320x480', class:'like_artist' %>
    <% else %>
      <%= image_tag 'music.png', :size =>'320x480', class:'like_artist' %>
    <% end %>
    <p class="mt-2"><%= like.like_artist %></p>
    
    <% if current_user == like.user %>
      <%= link_to like, class: 'btn btn-light mt-4 button-like', data: { confirm: "本当に削除しますか?" }, :method => :delete do %>
      削除
      <% end %>
    <% end %>
    
  </div>
  <% end %>
</div>
<div class="row mt-5 mb-5">
  <div class="text-center offset-4 col-4">
    <%= link_to '新規登録', new_like_path, class: 'btn btn-dark btn-block' %>
  </div>
</div>