<% if users.any? %>
  <ul class="list-unstyled">
    <div class="line"></div>
    <% users.each do |user| %>
     <div class="line"></div>
      <li class="user-info mr-2 ml-2 pt-3 pb-3">
        <div class="info-top">
          <% if user.profile_img? %>
            <%= link_to user_path(user) do %>
              <%= image_tag user.profile_img.url, :size =>'320x480', class:'info-img' %>
            <% end %>
          <% else %>
            <%= link_to user_path(user) do %>
              <%= image_tag 'profile.png', :size =>'320x480', class:'info-img' %>
            <% end %>
          <% end %>
          <div class="info-name">
            <%= user.name %>
          </div>
        </div>
        <div class="info-bottom">
          <p><%== user.profile.gsub(/\r\n|\r|\n/, "<br>") %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>