<div class="mypage-header">
  <% if @user.back_img? %>
    <%= image_tag @user.back_img.url, class:'back_img' %>
  <% else %>
    <%= image_tag 'elice-moore-E--AUpYXbjM-unsplash.jpg', :size =>'320x480', class:'back_img' %>
  <% end %>
  <div class="header-contents">
    <div class="">
      <% if @user.profile_img? %>
        <%= image_tag @user.profile_img.url, :size =>'320x480', class:'profile_img' %>
      <% else %>
        <%= image_tag 'profile.png', :size =>'320x480', class:'profile_img' %>
      <% end %>
    </div>
    <div class="header-sentence pl-4 ml-3"  style="padding-top: 17px;">
      <h4><%= @user.name %></h4>
      <p><%== @user.profile.gsub(/\r\n|\r|\n/, "<br>") %></p>
    </div>
    <div>
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <div class="mypage-select">
      <ul>
        <li><%= link_to '好きなアーティスト', user_path(@user), class:'' %></li>
        <li><%= link_to 'シェア', shares_user_path(@user), class:'' %></li>
        <li><%= link_to 'いいね', favorites_user_path(@user), class:'active' %></li>
        <li><%= link_to 'フォロー中', followings_user_path(@user), class:'' %></li>
        <li><%= link_to 'フォロワー', followers_user_path(@user), class:'' %></li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="mypage-contents">
      <%= render 'shares/shares' , shares: @favorites %>
    </div>
  </div>
  <div class="col-sm-3 side-line">
    <h3 class="text-center pt-4 pb-4">おすすめユーザー</h3>
    <%= render 'users', users: @users %>
  </div>
</div>