<div class="mypage-header">
  <%= image_tag @user.back_img.url, class:'back_img' %>
  <div class="header-contents">
    <div class="">
      <%= image_tag @user.profile_img.url, :size =>'320x480', class:'profile_img' %>
    </div>
    <div class="header-sentence pl-4 ml-3"  style="padding-top: 17px;">
      <h4><%= @user.name %></h4>
      <p><%== @user.profile.gsub(/\r\n|\r|\n/, "<br>") %></p>
    </div>
    <div>
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  </div>
</div>
<div class="mypage-select">
  <ul>
    <li><%= link_to '好きなアーティスト', user_path(@user), class:'active' %></li>
    <li><%= link_to 'シェア', shares_user_path(@user), class:'' %></li>
    <li><%= link_to 'いいね', favorites_user_path(@user), class:'' %></li>
    <li><%= link_to 'フォロー中', followings_user_path(@user), class:'' %></li>
    <li><%= link_to 'フォロワー', followers_user_path(@user), class:'' %></li>
  </ul>
</div>
<div class="line mb-4"></div>
<div class="mypage-contents">
  <%= render 'likes/likes' , likes: @likes%>
  <% if current_user == @user %>
    <div class="row mt-5 mb-5">
      <div class="text-center offset-4 col-4">
        <%= link_to '新規登録', new_like_path, class: 'btn btn-dark btn-block' %>
      </div>
    </div>
  <% end %>
</div>