<div class="text-center">
  <h3 class="mt-5 mb-3">曲名で検索</h3>
  <%= form_with url: musics_path, method: :get, local: true do |form| %>
  <%= form.text_field :search , class:'col-7'%>
  <%= form.submit '検索', name: nil , class:'col-7 mt-2 button-search'%>
  <% end %>
  <p class="col-7 explanation">※視聴できる曲がない場合がございます</p>
  <p class="col-7 explanation">※アーティストによってはアーティスト名を入力することでそのアーティストの曲を一覧表示することもできます</p>
</div>

<h1 class="text-center mt-5 mb-2">検索結果</h1>
  <% if @searchartists.present? %>
    <% @searchartists.each do |searchartist| %>
      <div class="search-content col-7">
        <div class="col-12 col-md-6 search-sent">
          <h3><%= searchartist.name %></h3>
            <audio controls type="audio/x-wav" src="<%= searchartist.preview_url %>"></audio>
        </div>
      </div>
    <% end %>
  <% end %>
</div>