<header class="">
    <nav class="navbar  navbar-light">
    <a class="navbar-brand ml-2"  href="/"><%= image_tag 'logo.png', style:'width: 60px;' %></a>

    <div class="justify-content-end">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <% if current_user.profile_img? %>
                <%= image_tag current_user.profile_img.url, class:'profile_img3' %>
              <% else %>
                <%= image_tag 'profile.png', :size =>'320x480', class:'profile_img3' %>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'プロフィール編集', edit_user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>